.header {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
}

.links a {
    margin-right: 25px;
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    height: 80px;
    padding: 20px 10px;
}

.links a:hover {
    color: tomato;
    background-color: teal;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 10px;

}